<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}

  <title>Noteable</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'noteable/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'noteable/css/home.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">
        <img style="max-width:20px; margin-top: -7px;" src="{% static 'noteable/eighth_note.png' %}">
      </a>
      <a class="navbar-brand" href="/">Noteable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#ourProduct">Our Product
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourTeam">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logged_home_init' %}"><span class="glyphicon glyphicon-log-in"></span> Get Playing!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url({% static 'noteable/hand_writing_music2.jpg' %});">
    <div id="header-image" style="height: 500px;">
    <h1 class="text-center">Noteable</h1>
    <h3 class="text-center">Start Practicing Violin Today!</h3></div>
  </header>

  <!-- Content section -->
  <section class="py-5">
    <span class="anchor" id="ourProduct"></span>
    <div class="container" id="ourProduct">
      <h1>Our Product</h1>
      <p class="lead">Noteable is an instrument practice tool for beginner violin players. Its easy-to-use
      interface makes it perfect for musicians of all ages. To start, simply
      click the <a href="{% url 'login' %}">Login</a> button on the upper right-hand of the screen and login or create an account if you are
      new. You can then upload any piece of sheet music or choose from the many in our violin music library. Set
      the metronome tempo to that which you would like to play. Then, record yourself playing the music directly 
      from whatever device you are using (laptop, phone, etc). When you are finished, Noteable will highlight any
      missed notes in red, showing which sections need more practice! A final percentage will be displayed,
      indicating how correct you performed the piece. Save sheet music and recordings to your account so you can
      come back and continue practicing at any time. <br><br>
      Want to know more about the creation of our product? <br>
      <ul>
        <li><a href="http://course.ece.cmu.edu/~ece500/projects/s19-teamdb/">View our website where we describe the 
            product's production from start to finish</a></li>
        <li><a href="#faq">Find answers to some of our most commonly asked questions</a></li>
        <li><a href="#contactUs">Write to us if you have a question that seems to be unanswered!</a></li>
      </ul>
      </p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-dark">
    <div style="height: 20px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <span class="anchor" id="ourTeam"></span>
    <div class="container" id="ourTeam">
      <h1>Our Team</h1>
      <p class="lead"></p>
      <div class="row" id="avatars">
        <div class="column">
          <figure>
            <img src="{% static 'noteable/allybear.jpg' %}" alt="Ally" style="width:100%">
            <figcaption><a id="cap-name">Ally Meyer</a>
                    <br><i id="school">Carnegie Mellon University, ECE '19</i>
                    <br><a id="description">Ally is currently an undergraduate senior, graduating
                        this May with a BS in Electrical & Computer Engineering. Her
                        concentrations have been in Software Systems as well
                        as Signals and Systems. Her main responsibility on this project was creating the front-end website!
                        She will start working as a Software Engineer at Capital One next fall. When she is not coding,
                        she is training for her half-marathon or traveling with friends and family! </a>
            </figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <img src="{% static 'noteable/sasi.jpg' %}" alt="Sasi" style="width:100%">
            <figcaption><a id="cap-name">Sasikala Mani</a>
                    <br><i id="school">Carnegie Mellon University, ECE '19</i>
                    <br><a id="description">Sasi is currently an undergraduate senior, graduating in May with a BS in Electrical and Computer Engineering with minors in Computer Science and Business Administration. Her concentrations are in Software Systems as well as Machine Learning. Her main responsibility for this project was pitch detection in the backend. She will start working as a Software Engineer at Google next fall. Her hobbies include singing and water sports!</a>
            </figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <img src="{% static 'noteable/tianbo.jpg' %}" alt="Tianbo" style="width:100%">
            <figcaption><a id="cap-name">Tianbo Chen</a>
                    <br><i id="school">Carnegie Mellon University, ECE '19</i>
                    <br><a id="description">Tianbo is currently a senior, graduating in May with an MS/BS in Electrical and Computer Engineering. His focus is on Software Systems with some experience in Machine Learning. For this project, he is working on the backend audio processing.  Starting in the summer, he will be working as a Software Engineer at Amazon. In his spare time, he enjoys playing the piano.</a>
            </figcaption>
          </figure>
        </div>
      </div>
  </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-dark">
    <div style="height: 20px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <span class="anchor" id="faq"></span>
    <div class="container" id="faq">
      <h1>Frequently Asked Questions</h1>
      <p class="lead"></p>
      <div class="question">1. 1. Is the practice tool free?</div>
      <div class="answer"><i>Yes! Access to the practice tool as well as our library of 
                             beginner violin music is free and accessible by simply <a href="{% url 'login' %}">
                             registering for an account</a>.</i></div>
      <div class="question">2. How do I register for an account?</div>
      <div class="answer"><i><a href="{% url 'login' %}">Login here</a> if you have already created an account,
                             otherwise select ‘Register’ from the Login page. Registration is quick and easy, 
                             requiring only an email.</i></div>
      <div class="question">3. Why do I need to register for an account?</div>
      <div class="answer"><i>An account is required to access the practice tool so that you can come back later 
                             and keep practicing the same music. Uploaded sheet music will be saved to your account 
                             so that you don’t have to re-upload the music every time! You can also track your progress
                             by viewing performance percentages over time.</i></div>
      <div class="question">4. Can I use the tool if I am not a beginner?</div>
      <div class="answer"><i>Yes, anyone can use our practice tool. However, due to the limited amount of time available
                             to create the product, the tool can only recognize notes that are one of the following: 
                             whole note, half note, quarter note, or eighth note. Because of this, beginners are most
                             likely to not encounter notes of greater complexity.</i></div>
      <div class="question">5. Can this tool be used with other instruments?</div>
      <div class="answer"><i>This tool is designed specifically for the violin, considering the most common range of
                             notes for a beginner player as well as tailoring our pitch and rhythm formulas to that 
                             of a violin player. Different audio inputs will still create a conversion, but results 
                             will become less accurate as one moves further from a violin sound (i.e. a cello will 
                             be more accurate than a trumpet). </i></div>
      <div class="question">6. How accurate are my results?</div>
      <div class="answer"><i>Music transcription is an ongoing field of research, so we do not claim our tool to be 100%
                             accurate. The current accuracy for related works in the field is 90-95%, so our tool will be
                             as close to this as possible. Also, our sheet music conversion from pdf to xml has an accuracy
                             of at least 98%; manual conversion is available to correct mistakes. More details on the 
                             definition of accuracy can be found in our <a href="http://course.ece.cmu.edu/~ece500/projects/s19-teamdb/wp-content/uploads/sites/61/2019/03/Design-Report-1.pdf">Design Report</a>.</i></div>
      <div class="question">7. How is my input audio transcribed?</div>
      <div class="answer"><i>Audio transcription is converted using onset pitch detection. Rhythm detection is 
                             calculated by combining the length between notes with the input user tempo. All of this data
                             is sent through AWS to create the visual you see output in your browser!</i></div>
      <div class="question">8. Can I recreate this tool?</div>
      <div class="answer"><i>Yes! All steps taken to create this website and back-end can be found on our 
                             <a href="http://course.ece.cmu.edu/~ece500/projects/s19-teamdb/">WordPress Website</a>. Some expenses
                             may be required to follow the exact same steps that we did, but workarounds are available! We’d love
                             to hear feedback if you try to follow our path!</i></div>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-dark">
    <div style="height: 20px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <span class="anchor" id="contactUs"></span>
    <div class="container" id="ourTeam">
      <h1>Want to Contact Us?</h1>
      <p class="lead"></p>Ask us a question; we don't bite!
      <form method="post" action="{% url 'login' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button id="id_send_email_button" type="submit">Send Message</button>
    </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Noteable 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'noteable/js/jquery.min.js' %}"></script>
  <script src="{% static 'noteable/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>