<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Noteable</title>

  {% load static %}
  <script src="{% static 'noteable/js/abcjs_basic_5.6.7-min.js' %}" type="text/javascript"></script>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'noteable/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'noteable/css/full-width-pics.css' %}" rel="stylesheet">

</head>

<body>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  
  <p>Uploaded files:</p>
      <ul>
        {% for obj in documents %}
          <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          </li>
        {% endfor %}
      </ul>

  <p><a href="{% url 'home' %}">Return to home</a></p>
</body>
</html>