<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Noteable</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img style="max-width:20px; margin-top: -7px;"
                        src="/static/noteable/eighth_note.png">
                    </a>
                    <a class="navbar-brand" href="{% url 'home' %}">Noteable</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <h4>Register</h4>
    </body>
</html>